.dashboard-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.custom-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.dashboard-card{
    width: 32%;
    text-align: center;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;
    background-color: #5C5470;
}

.section{
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 1rem .8rem;
    background-color: #5C5470;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section form{
    display: contents;
}

textarea[name="dashboard-notes"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%; 
    height: 330px; 
    resize: vertical; 
    font-size: 16px; 
  }

